<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-button>
                <ion-icon mode="md" name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="show_camera()">
                <ion-icon mode="md" name="image"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card>
        <img width="200px" *ngIf="imagen" [src]="imagen">
        <ion-card-content>
            <ion-card-title style="color: #454444;" text-center>Agrega una descripción</ion-card-title>
            <br>
            <ion-item>
                <ion-textarea #data clearOnEdit="true" placeholder="comentar"></ion-textarea>
            </ion-item>
            <ion-button (click)="comentar(data.value)" expand="block" shape="round">Enviar</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>